<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6b365e26-76af-4d83-8694-44843cf84cbe" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6b365e26-76af-4d83-8694-44843cf84cbefileName">TestSuite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
